#control-buttons {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.control-button {
    height: 30px;
    width: 30px;
    margin: 5px;
    padding: 0px;
    border: 0;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
}

.control-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
