#preview {
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: max(80px, calc((100% - var(--editor-width)) / 2));
    padding-right: max(80px, calc((100% - var(--editor-width)) / 2));
    height: calc(100vh - 150px);

    text-align: justify;
    color: var(--primary);
    font-size: calc(var(--font-size));

    overflow-y: scroll;
}
#preview ::selection {
    background-color: var(--selection);
    color: var(--primary);
}
#preview::-webkit-scrollbar {
    width: 14px;
    position: fixed;
    right: 0;
}
#preview::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    position: fixed;
    right: 0;
}

#preview h1, #preview h2, #preview h3, #preview h4, #preview h5, #preview h6 {
    color: var(--accent);
    font-weight: bold;
}

#preview h1 {
    font-size: calc(var(--font-size) * 2);
    margin: 24px 0;
}
#preview h2 {
    font-size: calc(var(--font-size) * 1.6);
    margin: 20px 0;
}
#preview h3 {
    font-size: calc(var(--font-size) * 1.4);
    margin: 16px 0;
}
#preview h4 {
    font-size: calc(var(--font-size) * 1.2);
    margin: 12px 0;
}
#preview h5 {
    font-size: calc(var(--font-size) * 1.1);
    margin: 8px 0;
}
#preview h6 {
    font-size: var(--font-size);
    margin: 4px 0;
}

#preview a {
    color: var(--accent);
    text-decoration: none;
    font-weight: bold;
}

#preview code {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 0 5px;
}

#preview blockquote {
    border-left: 5px solid var(--accent);
    padding: 0 10px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);

    /* A little trick that'll force the content's margins to be kept withing the
    blockquote */
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
