#preview {
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: max(80px, calc((100% - var(--editor-width)) / 2));
    padding-right: max(80px, calc((100% - var(--editor-width)) / 2));
    height: calc(100vh - 150px);
    width: calc(100vw - max(160px, calc(100% - var(--editor-width))));

    color: var(--primary);
    font-size: var(--font-size);

    overflow-y: scroll;
    scroll-behavior: smooth;
    outline: none;
}
#preview ::selection {
    background-color: var(--selection);
    color: var(--primary);
}
#preview::-webkit-scrollbar {
    width: 14px;
    position: fixed;
    right: 0;
}
#preview::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    position: fixed;
    right: 0;
}

#preview h1, #preview h2, #preview h3, #preview h4, #preview h5, #preview h6 {
    font-weight: bold;
}

#preview h1 {
    color: var(--accent);
    font-size: calc(var(--font-size) * 1.8);
    margin-top: 100px;
    margin-bottom: 24px;
}
#preview h2 {
    color: var(--accent);
    font-size: calc(var(--font-size) * 1.6);
    margin-top: 100px;
    margin-bottom: 20px;
}
#preview h3 {
    font-size: calc(var(--font-size) * 1.4);
    margin-top: 60px;
    margin-bottom: 16px;
}
#preview h4 {
    font-size: calc(var(--font-size) * 1.2);
    margin-top: 45px;
    margin-bottom: 12px;
}
#preview h5 {
    font-size: calc(var(--font-size) * 1.2);
    margin-top: 35px;
    margin-bottom: 12px;
}
#preview h6 {
    font-size: calc(var(--font-size) * 1.1);
    margin-top: 20px;
    margin-bottom: 12px;
}

#preview a {
    color: var(--accent);
    text-decoration: none;
    font-weight: bold;
    outline: none;
}

#preview pre:has(code) {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 10px;
}

/* A rather hacky way to remove background color in syntax highlighted elements */
#preview pre div:has(code) {
    background-color: transparent !important;
}
#preview pre div code {
    background-color: transparent !important;
}

#preview pre code {
    text-wrap: wrap;
}

#preview code:not(#preview pre code) {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 0 5px;
}

#preview blockquote {
    border-left: 5px solid var(--accent);
    padding: 5px 10px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.05);
}

#preview hr {
    border: none;
    border-top: 2px solid var(--accent);
}

#preview img {
    max-width: 100%;
}

#preview * {
    overflow-wrap: anywhere;
    scroll-margin-top: 100px;
}
